.main{
  display: flex;
  flex-direction: column;
  // border: 1px solid black;
  padding: 14px 10px;
  border-radius: 8px;
}

.form{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

button{
  background-color: rgb(0,255,0);
  font-size: 18px;
}

input[type = text]{
  width: 400px;
  height: 40px;
  border-radius: 8px;
}
