<div class="main">
  <div class="container1">

  <div class="chess-board">
    <div class="row">
      <div class="board-pieces black" id="a1"><span>a1</span></div>
      <div class="board-pieces white" id="b1"><span>b1</span></div>
      <div class="board-pieces black" id="c1"><span>c1</span></div>
      <div class="board-pieces white" id="d1"><span>d1</span></div>
      <div class="board-pieces black" id="e1"><span>e1</span></div>
      <div class="board-pieces white" id="f1"><span>f1</span></div>
      <div class="board-pieces black" id="g1"><span>g1</span></div>
      <div class="board-pieces white" id="h1"><span>h1</span></div>
    </div>
    <div class="row">
      <div class="board-pieces white" id="a2"><span>a2</span></div>
      <div class="board-pieces black" id="b2"><span>b2</span></div>
      <div class="board-pieces white" id="c2"><span>c2</span></div>
      <div class="board-pieces black" id="d2"><span>d2</span></div>
      <div class="board-pieces white" id="e2"><span>e2</span></div>
      <div class="board-pieces black" id="f2"><span>f2</span></div>
      <div class="board-pieces white" id="g2"><span>g2</span></div>
      <div class="board-pieces black" id="h2"><span>h2</span></div>
    </div>
    <div class="row">
      <div class="board-pieces black" id="a3"><span>a3</span></div>
      <div class="board-pieces white" id="b3"><span>b3</span></div>
      <div class="board-pieces black" id="c3"><span>c3</span></div>
      <div class="board-pieces white" id="d3"><span>d3</span></div>
      <div class="board-pieces black" id="e3"><span>e3</span></div>
      <div class="board-pieces white" id="f3"><span>f3</span></div>
      <div class="board-pieces black" id="g3"><span>g3</span></div>
      <div class="board-pieces white" id="h3"><span>h3</span></div>
    </div>
    <div class="row">
      <div class="board-pieces white" id="a4"><span>a4</span></div>
      <div class="board-pieces black" id="b4"><span>b4</span></div>
      <div class="board-pieces white" id="c4"><span>c4</span></div>
      <div class="board-pieces black" id="d4"><span>d4</span></div>
      <div class="board-pieces white" id="e4"><span>e4</span></div>
      <div class="board-pieces black" id="f4"><span>f4</span></div>
      <div class="board-pieces white" id="g4"><span>g4</span></div>
      <div class="board-pieces black" id="h4"><span>h4</span></div>
    </div>
    <div class="row">
      <div class="board-pieces black" id="a5"><span>a5</span></div>
      <div class="board-pieces white" id="b5"><span>b5</span></div>
      <div class="board-pieces black" id="c5"><span>c5</span></div>
      <div class="board-pieces white" id="d5"><span>d5</span></div>
      <div class="board-pieces black" id="e5"><span>e5</span></div>
      <div class="board-pieces white" id="f5"><span>f5</span></div>
      <div class="board-pieces black" id="g5"><span>g5</span></div>
      <div class="board-pieces white" id="h5"><span>h5</span></div>
    </div>
    <div class="row">
      <div class="board-pieces white" id="a6"><span>a6</span></div>
      <div class="board-pieces black" id="b6"><span>b6</span></div>
      <div class="board-pieces white" id="c6"><span>c6</span></div>
      <div class="board-pieces black" id="d6"><span>d6</span></div>
      <div class="board-pieces white" id="e6"><span>e6</span></div>
      <div class="board-pieces black" id="f6"><span>f6</span></div>
      <div class="board-pieces white" id="g6"><span>g6</span></div>
      <div class="board-pieces black" id="h6"><span>h6</span></div>
    </div>
    <div class="row">
      <div class="board-pieces black" id="a7"><span>a7</span></div>
      <div class="board-pieces white" id="b7"><span>b7</span></div>
      <div class="board-pieces black" id="c7"><span>c7</span></div>
      <div class="board-pieces white" id="d7"><span>d7</span></div>
      <div class="board-pieces black" id="e7"><span>e7</span></div>
      <div class="board-pieces white" id="f7"><span>f7</span></div>
      <div class="board-pieces black" id="g7"><span>g7</span></div>
      <div class="board-pieces white" id="h7"><span>h7</span></div>
    </div>
    <div class="row">
      <div class="board-pieces white" id="a8"><span>a8</span></div>
      <div class="board-pieces black" id="b8"><span>b8</span></div>
      <div class="board-pieces white" id="c8"><span>c8</span></div>
      <div class="board-pieces black" id="d8"><span>d8</span></div>
      <div class="board-pieces white" id="e8"><span>e8</span></div>
      <div class="board-pieces black" id="f8"><span>f8</span></div>
      <div class="board-pieces white" id="g8"><span>g8</span></div>
      <div class="board-pieces black" id="h8"><span>h8</span></div>
    </div>
  </div>

  </div>

  <div class="draw-class">

  </div>

  <div class="checkmate-class">

  </div>

</div>
