<body>

  <div class="main">

    <div class="container">

      <div class="container-heading">
        Welcome to <br><br> 2 player game field
      </div>
      <br>
      <div class="container-heading">
        Games
      </div>

      <div class="game-section-container">

        <div class="game-section">
          <div>
            <div class="game-heading">
              Chess
            </div>
            <div class="game-description">
              Standard Chess  Standard Chess  Standard Chess  Standard Chess
            </div>
          </div>
          <div>
            <button mat-button (click)="openDialog('/chess')">
              Play
            </button>
          </div>
        </div>

        <div class="game-section">
          <div>
            <div class="game-heading">
              Chess 960
            </div>
            <div class="game-description">
              Chess960 Chess960 Chess960 Chess960 Chess960 Chess960
            </div>
          </div>
          <div>
            <button mat-button (click)="openDialog('/chess960')">
              Play
            </button>
          </div>
        </div>

      </div>

    </div>

  </div>

  </body>
